@font-face {
    font-family: "Clarker Felt";
    src: url("./clarkerfelt.woff") format('woff');
}

body {
  font-family: 'Lato', 'Hevletica Neue', sans-serif;
  font-size: 1.2em;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-family: "Clarker Felt"
}

h1 {
  color: #006dc6;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1em;
  margin: .2em 0;
}

#subpage header p {
  color: #777;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0;
}

img {
  width: 100%;
}

#index h2,
.see-all {
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: .1em;
}

section {
  padding-bottom: 2em;
}

#index section {

}

.see-all {
  color: inherit;
}

#subpage header {
  margin-bottom: 70px;
}

.intro {
  background-image: url("./../images/speech-bubble.gif");
  background-repeat: no-repeat;
  background-size: contain;
  color: #006dc6;
  font-family: "Clarker Felt";
  font-size: 1em;
  margin-bottom: -5px;
  padding: 1em;
  width: 100%;
}
@media (min-width: 400px) {
  .intro {
    font-size: 1.2em;
  }

  #index main {
    display: flex;
  }
}
@media (min-width: 600px) {
  .intro {
    font-size: 1.6em;
  }
}
@media (min-width: 700px) {
  .intro {
    font-size: 2em;
  }
}
@media (min-width: 800px) {
  .intro {
    font-size: 2.4em;
  }
}
@media (min-width: 900px) {
  .intro {
    font-size: 2.8em;
  }
}
@media (min-width: 1000px) {
  .intro {
    font-size: 3.2em;
  }
}



.intro p {
  margin: 0;
}

.intro p:first-of-type {
  font-size: 1.5em;
}

.self-portrait {
  height:100%;
  padding: 0 2em;
  width: 20%;
}

#index .content {
  margin-top: 60px;
}

.title {
  font-size: 1.4em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: -20px;
}

a {
  color: #006dc6;
  text-decoration: none;
}

.content-list ul {
  list-style: none;
  margin: 0;
}

.content-list ul {
  padding: 0px;
}

.content-list a .summary {
  font-size: .8em;
  color: #777;
}

.content-list section {
  box-sizing: padding-box;
  line-height: 1.4em;
}

.content-list ul li {
  padding-bottom: 1em;
}

#index h2 {
  margin-top: 0;
}

.find-me {
  background: white;
  margin-left: calc((100% - 100px)/2);
  position: relative;
  text-align: center;
  padding-top: 20px;
  width: 100px;
}

.find-me img {
  width: 30%;
}

.find-me .divider {
  display: inline-block;
  font-size: .7em;
  padding: 0 .3em 0 .2em;
  position: relative;
  top: -0.8em;
}

.linkout {
  background-image: url("./../images/linkout.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: .8em auto;
  display: inline-block;
  padding-right: .8em;
}
