@media (min-width: 1000px) {
  html,
  body {
    height: 100%;
  }

  body {
    max-width: 1070px;
    padding: 30px 100px;
  }

  #index main {
    height: calc(100%);
  }
  #index main section {
    float: left;
    width: 49%;
  }

  #index main section:last-child {
    float: right;
  }

  #intro .hello {
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    padding-top: 100px;
  }

  #intro .bio {
  }

  #intro .tagline {
    font-size: 1.8em;
    margin: 0;
  }

  .title {
    font-size: 1.4em;
  }

  #intro .headshot {
    background-image: url("./../images/headshot.jpg");
    float: right;
    height: 400px;
    margin-left: 20px;
    width: 400px;
  }
}
