---
title: The Semantic Web and Drupal, pt. 2
date: 2009-12-14
tags: rdf, drupal, drupal-planet
---
<p>So I surreptitiously posted the second part of my talk on <strong>The Semantic Web and Drupal</strong>, fully intending to spread the word but also fully procrastinating... so thank you to <a href="http://twitter.com/derigalway">@derigalway</a>, <a href="http://twitter.com/akioz">@akioz</a>, <a href="http://twitter.com/crizzirc">@crizzirc</a>, <a href="http://twitter.com/johnbreslin">@johnbreslin</a>, <a href="http://twitter.com/cygri">@cygri </a>and others for spreading the word for me.</p>
<p>If you haven't seen it yet, here it is:</p><object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/VvEVoY0sl6o&amp;hl=en_US&amp;fs=1&amp;" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed height="344" width="425" src="http://www.youtube.com/v/VvEVoY0sl6o&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>
READMORE
<p>Some credits:</p>
<ul>
  <li>Thanks to <a href="http://openspring.net/">Stephane Corlosquet</a> (scor), not just for doing this exciting work, but also for reviewing the talk and giving pointers, along with his former advisor and my new advisor <a href="http://axel.deri.ie/~axepol/">Axel Polleres</a>.</li>
  <li>Thanks to <a href="http://umbrich.net/"><span class="c1">Jürgen Umbrich</span></a> for a late night use case brainstorming session.</li>
</ul>