---
title: The Semantic Web and Drupal at DrupalCamp Vienna
date: 2009-11-27
tags: rdf, drupal, drupal-planet
---
<p>I delivered this talk at DrupalCamp Vienna, I only have the first part up but the second part (all about the Semantic Web technologies that are now in Drupal) is coming soon!</p>
<object height="344" width="425"><param name="movie" value="http://www.youtube.com/v/xcPf4PeF57Y&amp;hl=en_US&amp;fs=1&amp;" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed height="344" width="425" src="http://www.youtube.com/v/xcPf4PeF57Y&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>
READMORE
<p>Some credits:</p>
<ul>
  <li>Other people have expressed the same ideas before, but I most directly culled the short list of benefits of the Semantic Web from a post by Angie 'webchick' Byron</li>
  <li>Someone else is responsible for the weather/stock market data combination idea, but I can't remember who. If you think it's you, post a comment or let me know.</li>
</ul>
<h2>Questions from the session</h2>
<ol>
  <li>How can you browse linked data?<br />http://sig.ma/</li>
  <li>What are some available datasets?<br />http://esw.w3.org/topic/TaskForces/CommunityProjects/LinkingOpenData/DataSets</li>
  <li>Where to learn more about how to use linked data?<br />There are some great video resources, I&nbsp;suggest <a href="http://videolectures.net/iswc08_heath_hpldw/">How to Publish Linked Data on the Web</a> to start with and then check out some of the recommendataions.</li>
  <li>Where can I find vocabularies?<br />There are some good links and pointers on the <a href="http://esw.w3.org/topic/VocabularyMarket">ESW VocabularyMarket</a></li>
  <li>What vocabulary should I use for book information?<br />http://esw.w3.org/topic/BookVocabularies</li>
</ol>
