---
title: "Intro to Drupal 7: Basic Theming with Zen and CSS"
date: 2010-03-22
tags: drupal, drupal-planet, screencast, theming, css
---
<p><span class="description">This screencast gives an introduction to  creating a subtheme of Zen and modifying it with CSS.  </span></p><p><span class="description">Video #7 in this Intro to Drupal series.&nbsp; </span></p><object height="385" width="480"><param name="movie" value="http://www.youtube.com/v/sCg4sTA3DlQ&amp;hl=en_US&amp;fs=1&amp;" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed height="385" width="480" src="http://www.youtube.com/v/sCg4sTA3DlQ&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>