---
title: "Intro to Drupal 7: Creating Content Types"
date: 2010-03-15
tags: drupal, drupal-planet, screencast
---
<p>Video #5 in this Intro to Drupal series, I cover how you can create content types in Drupal 7 now that the field system is in place.</p><!--break--><p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/JsuMnG_5Yko&amp;hl=en_US&amp;fs=1" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed width="425" height="344" src="http://www.youtube.com/v/JsuMnG_5Yko&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>