---
title: "Intro to Drupal 7: Intro to Views, Pt. 1"
date: 2010-03-16
tags: drupal, drupal-planet, screencast, views
---
<p>Use views to create lists of content in Drupal 7. This screencast demonstrates creating a view that has multiple displays, using the whole node or just fields in the list, customizing the way fields are displayed, and changing the HTML formatting of the list using the user interface.</p>  <p>Video #6 in this Intro to Drupal series.</p><object height="385" width="480"><param name="movie" value="http://www.youtube.com/v/1z13ylwMhk4&amp;hl=en_US&amp;fs=1&amp;" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed height="385" width="480" src="http://www.youtube.com/v/1z13ylwMhk4&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>