---
title: "Intro to Drupal 7: Configuring your Drupal 7 site"
date: 2010-02-21
tags: drupal, drupal-planet, screencast
---
<p>After you install your site, you can change the site name and logo, change the visual look with a theme, and add content.</p><!--break--><object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/IT_TZEQEm5c&amp;hl=en_US&amp;fs=1&amp;" /><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><embed width="480" height="385" src="http://www.youtube.com/v/IT_TZEQEm5c&amp;hl=en_US&amp;fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed></object>