---
title: "Intro to Drupal 7: Installing Modules"
date: 2010-02-22
tags: drupal, drupal-planet, screencast
---
<p>In this video, I demonstrate how to download and install modules through the Drupal 7 user interface.</p><!--break--> <object width="480" height="385"><param value="http://www.youtube.com/v/BPjgrnj9t4Q&amp;hl=en_US&amp;fs=1&amp;" name="movie" /><param value="true" name="allowFullScreen" /><param value="always" name="allowscriptaccess" /><embed width="480" height="385" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/BPjgrnj9t4Q&amp;hl=en_US&amp;fs=1&amp;"></embed></object>