---
title: "Intro to Drupal 7: Theming Fields and Nodes with Templates"
date: 2010-03-24
tags: drupal, drupal-planet, screencast, theming
---
<p>Override Drupal's default HTML output using templates. You can override individual fields and content types.</p> <p>Video #8 in this Intro to Drupal 7 series.   </p><object width="480" height="385"><param value="http://www.youtube.com/v/sxZQqgvJk3s&amp;hl=en_US&amp;fs=1&amp;" name="movie" /><param value="true" name="allowFullScreen" /><param value="always" name="allowscriptaccess" /><embed width="480" height="385" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://www.youtube.com/v/sxZQqgvJk3s&amp;hl=en_US&amp;fs=1&amp;"></embed></object>