---
title: "More fun with CIA data: SPARQL Views with relationships and contextual filters"
date: 2011-08-11
tags: drupal-planet, rdf, views, data, sparql, drupal-planet
---
<p>Yesterday, I posted about <a href="http://lin-clark.com/blog/turning-cias-data-pretty-pictures-your-site-using-views">reusing the CIA's data</a> on your site. I demonstrated how you can use Views to access the CIA World Factbook data and turn it into charts.</p>
<p>You can enhance these views further by using relationships to get information about related things, such as bordering countries, and you can use contextual filters to tailor the SPARQL results to your node content.</p>
READMORE<iframe width="480" height="390" src="http://www.youtube.com/embed/AsWPm0vpmoI?rel=0" frameborder="0" allowfullscreen></iframe>