---
title: "Building modules on top of SPARQL Views"
date: 2011-09-14
tags: drupal-planet, sparql, views, drupal-planet
---
<p>I posted this video a couple of weeks ago but didn't get a chance to write it up. It demonstrates building a module that creates a view using SPARQL on whatever site it is installed on.</p>
<p>If you provide a dataset and it is available with SPARQL, this can be a really great way to help people understand how to use your data. Because users who install the module can use the Views user interface to alter the view that is created, it can be a great starting point for experimentation by users who don't know so much about your data or building views.</p>
READMORE<iframe width="480" height="390" src="http://www.youtube.com/embed/CzjlrjbhRp0?rel=0" frameborder="0" allowfullscreen></iframe>