---
title: "Turning the CIA's data into pretty pictures on your site using Views"
date: 2011-08-10
tags: drupal-planet, rdf, sparql, data, views, drupal-planet
---
<p>There are a lot of data providers who publish their data openly for reuse. Surprisingly, <a href="http://ckan.net/package/cia-world-factbook">the CIA is one</a> of them.</p>
<p>Because of this, data geeks can take it and turn it into something that's easy for others to reuse, using open data formats. And because it's available in an open data format, platforms like <a href="http://beta.kasabi.com">Kasabi</a> can load it on to their big servers and provide ways for other sites to access and query it, like a SPARQL endpoint. And because it is provided in a SPARQL endpoint, it is easy to reuse it in your Drupal site using Views.</p>
READMORE<p>This screencast shows how you can access the CIA World Factbook (or data in any SPARQL endpoint) and reuse the content on your site.</p>
<iframe width="480" height="390" src="http://www.youtube.com/embed/RwY_2kmOgUc?rel=0" frameborder="0" allowfullscreen></iframe>